.customTextArea{
  box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 14px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 8px;
    resize: none;
    height: 170px;
}