@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family:  'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}



h1{
  text-align: center;
  font-size: 40px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}